@CHARSET "ISO-8859-1";
.ui-state-hover {background-color:#fffeb8!important;}
#body_wraper{
	font-size: 9pt;
}
#transaction_parameter_box{
	width: 400px;
	border: 1px solid #7d7d7d;
	border-radius: 5px;
}
#transaction_parameter_box1{
	width: 530px;
	border: 1px solid #7d7d7d;
	border-radius: 5px;
}
#transaction_parameter_box .header{
	background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    padding-left: 5px !important;
    padding-top: 8px !important;
	/*background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	/*background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	/*background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	/*background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	/*background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#transaction_parameter_box1 .header{
	font-weight: bold;
	background-color: #333333;
	height:30px;
	color: white;
	padding-top: 3px!important;
	padding-bottom: 5px;
	padding-left: 5px!important;
	margin-bottom: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	/*background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	/*background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	/*background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	/*background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	/*background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#transaction_parameter_box .body{
	width: 495px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#transaction_parameter_box1 .body{
	width: 495px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#transaction_parameter_box .body table td.left{
	padding-right: 20px;
	padding-bottom: 3px;
}
#transaction_parameter_box1 .body table td.left{
	padding-right: 20px;
	padding-bottom: 3px;
}
#transaction_parameter_box .body table td.right{
	padding-bottom: 3px;
}
#transaction_parameter_box1 .body table td.right{
	padding-bottom: 3px;
}
.dtText{
	width: 100px;
}
#lblTextLeft{
	width: 200px;
}
#qry_result{
	margin-top: 20px;
}
#txtDate, #txtDDate{
	width: 280px;
	border: 0px;
	background-color: transparent;
}