#body_wrapper{
	margin-top: 20px;
}
#txtAgentID{
	width: 100px;
}
tr.jqfoot td { 
	background-color: #AD8533; 
	color: black;
	background-image: -ms-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8B8B8), color-stop(1, #919191));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Proposed W3C Markup */ 
}
#qry_result_player, #qry_agent_trans_history,#qry_agent_player_trans_history{
	margin-top: 20px;
}
