@CHARSET "ISO-8859-1";
#setting_header{
	background-image: url('../images/cashplayer/setting_header.jpg');
	color: white;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 9pt;
	width: 767px;
}
#setting_header1{
	background-image: url('../images/cashplayer/setting_header.jpg');
	color: white;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 9pt;
	width: 767px;
}
#setting_header input{
	font-size: 9pt;
	
}
#setting_table{
	margin-left: 5px;
	padding-left: 5px;
}
#setting_table tr td{
	font-size: 9pt;
}
#setting_table tr td.left, td.right{
	padding-right: 15px;
}
#setting_table1{
	margin-left: 5px;
	padding-left: 5px;
}
#setting_table1 tr td{
	font-size: 9pt;
}
#setting_table1 tr td.left, td.right{
	padding-right: 15px;
}
#txtAccountID{
	background-color: transparent;
	border: 0px;
}
#setting_table1{
	margin-bottom: 10px;
}
#txtCurrencyId{
	display: none;
}
#qry_baccarat, #qry_roullete, #qry_dragon_tiger, #qry_blackjack, #qry_american_roulette{
	margin-left: 5px;
}
#cash_player_game_table_limit_grid_caption{
	font-weight: normal!important;
}
#cash_player_game_table_limit_footer{
	background-image: url('../images/cashplayer/setting_header.jpg');
	width: 770px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#txtSettingMessage{
	background-color: transparent;
	width: 770px;
	border: 0px;
	text-align: center;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}
.txt{
	width: 140px;
}
.ui-state-hover {background-color:#fffeb8!important;}