@CHARSET "UTF-8";

#divListView {
	padding:2px 10px 2px 5px;
	float: left;
	border-left:1px solid;
	border-top:1px solid;
	border-bottom:1px solid;
	border-radius:5px;
}
#divListView a{
	text-decoration: none;
}
#divFormView {
	padding:2px 10px 2px 5px;
	float: left;
	border-left:1px solid;
	border-top:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-radius:5px;
}
#divFormView a{
	text-decoration: none;
}

#setting_header{
	background-image: url('../images/cashplayer/setting_header.jpg');
	color: white;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10pt;
	width: 870px;
	border-radius:3px;
}
#setting_header1{
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10pt;
	width: 870px;
	border-bottom:1px solid;
	border-bottom-color:#666666;
	border-radius:3px;
}
#setting_table{
	margin-left: 5px;
	padding-left: 5px;
}
#setting_table tr td{
	font-size: 9pt;
	width: 150px;
}
#setting_table tr td input{
	font-size: 9pt;
	width: 200px;
	
}
#setting_table tr td.left, td.right{
	padding-right: 15px;
}

.btnFirst{
	background:url(../images/firstPageIcon.png) no-repeat;
    cursor:pointer;
    width: 30px;
    height: 20px;
    border: none;	
}
.btnPrevious{
	background:url(../images/previousPageIcon.png) no-repeat;
    cursor:pointer;
    width: 30px;
    height: 20px;
    border: none;	
}
.btnNext{
	background:url(../images/nextPageIcon.png) no-repeat;
    cursor:pointer;
    width: 30px;
    height: 20px;
    border: none;	
}
.btnLast{
	background:url(../images/lastPageIcon.png) no-repeat;
    cursor:pointer;
    width: 30px;
    height: 20px;
    border: none;	
}
.buttonNavigation {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	width:52px;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:5px 4px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.buttonNavigation:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.buttonNavigation:active {
	position:relative;
	top:1px;
}
.ui-state-highlight { background: #FFFFC2!important; }
