@CHARSET "UTF-8";
#crheader{
	height: 360px;
}
#crfilter, #crgridcolumns{
	width: 400px;
	float: left;
	margin-right: 10px;
}
#crfilter .title, #crgridcolumns .title{
	background-color: #7d7d7d;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#crfilter .body,#crgridcolumns .body{
	padding: 10px;
	height: 290px;
	border: 1px solid #A8A8A8;
}
#crfilter .body .grid_params{

}
table tr td.left{
	width: 110px;
	padding-right: 20px;
}

input.txt{
	width: 150px;
}
#sortable1{
	border: 1px solid #e0dfde;
}
#sortable2{
	border: 1px solid #e0dfde;
}
#sortable1, #sortable2 { 
	list-style-type: none; 
	margin: 0; 
	padding: 10px; 
	float: left; 
	height: 215px;
	width: 150px;
}
#sortable1 li, #sortable2 li { 
	margin: 0 0px 3px 5px; 
	padding: 4px; 
	font-size: 9pt; 
	width: 130px; 
	cursor:pointer;
	cursor:hand;
}
#ui-datepicker-div{
	font-size: 8pt;
}


#grid_report_wrapper{
	width: 1200px;
}

#yw0_c0,#yw0_c1,#yw0_c2,#yw0_c3,#yw0_c4,#yw0_c5,#yw0_c6,#yw0_c7,#yw0_c8,#yw0_c9,#yw0_c10{
	padding: 5px;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
tr.odd{
	background-color: #e8e8e8!important;
}
tr.even{
	background-color: #ffffff!important;
}