@CHARSET "ISO-8859-1";
/* If you want you can use font-face */


.clock {

	width:200px; 
	height:40px; 
	margin:0 auto; 
	padding:0px; 
	border:0px solid #333; 
	color:#fff; 
	top:33px;
	left: 345px;
	}

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:15px; text-align:center; text-shadow:0 0 5px #00c6ff; }

ul { width:200px; margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul li { display:inline; font-size:1.5em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:2px; padding-right:2px; }
/* Simple Animation */
@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:1 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}