@CHARSET "ISO-8859-1";
#tl_header{
	font-size: 9pt;
	padding: 5px;
	font-weight: bold;
}
#qry_selector{
	font-size: 9pt;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 800px;
}
.nput{
	font-size: 9pt;
}
#qry_result{
	font-size: 9pt;
	padding-left: 5px;
}
#table_limit{
	font-size: 9pt;
}
#table_limit table td.left{
	font-size: 9pt;
	width: 130px;
	padding-bottom: 5px;
}
#table_limit table td.right{
	font-size: 9pt;
	padding-right: 10px;
	padding-bottom: 5px;
}
#table_limit_footer{
	width: 100%;
	padding-top: 10px;
	text-align: center;
}
#bacarrat_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#update_bacarrat_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#dragon_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#update_dragon_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#roulette_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#update_roulette_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#american_roulette_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#update_american_roulette_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#blackjack_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#update_blackjack_err_message{
	width: 100%;
	font-size: 9pt;
	color: red;
	text-align: center;
	border: 0px;
	margin-top: 10px;
}
#dialogPoolLimitContent{
	font-size: 9pt;
}
#dialogPoolLimitContent table td.left{
	width: 100px;
	padding-bottom: 5px;
}
#dialogPoolLimitContent table td.right{
	padding-bottom: 5px;
}
#dialogPoolLimitContent input{
	font-size: 9pt;
	width: 100px;
}
#dialogPoolLimitContent select{
	font-size: 9pt;
}
#dialogPoolLimitContentFooter{
	width: 100%;
	text-align: center;
	background-color: transparent;
}
#txtPoolLimitDialogErrorMsg{
	background-color: transparent;
	border: 0px;
	width: 100%;
	text-align: center;
	color: red;
	font-size: 9pt;
}
#txtUPoolLimitDialogErrorMsg{
	background-color: transparent;
	border: 0px;
	width: 100%;
	text-align: center;
	color: red;
	font-size: 9pt;
}
td input{
	width: 155px;
}
a:ACTIVE{
	color: black;
	text-decoration: none;
}
.ui-state-hover {background-color:#fffeb8!important;}