/* 
    Document   : login
    Created on : Mar 16, 2012, 6:24:21 PM
    Author     : Eric
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/


root { 
    display: block;
}*/



body {
	background-color: #5d5d5d;
	background-image:url(../images/background.bmp);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ededed;
	margin: 0;
	
}
img{
	border: 0px;
}
.login-title
{
	margin-top: 10px;	
}
.row{
	text-align:left;
	width: 300px;
}
.row input{
	width:210px;
}
.row buttons{
	width: 300px;
	
}
.form_captha{
	width:330px;
	height:50px;
	top:100px;
	left:92px;
	
}

.form_login{
	width:200px;
	top:195px;
	left:145px;
}
.form_login input{
	width: 185px;
	height: 35px;
}
.copyR{
	top:700px;
	left:550px;
	color:#2a2a2a;
}
.logo-back
{
	background:url(../images/gray.jpg);
	background-repeat:repeat-x;
	height: 200px;	
	top: 0;
	padding-top: 0px;
	
}

.login-logo
{
	background:url(../images/login_logo.bmp);
	background-repeat:no-repeat;	
	width: 370px;
	height: 200px;
	text-align:center;

	margin-left:auto;
	margin-right:auto;
	margin-bottom: 30px;
	color:white;
}

.flags
{
	margin-top: 40px;	
}

.form
{

background:url(../images/login_form_new.bmp);
padding: 20px;
width: 430px;
height:275px;
/*border: 3px solid #858585;*/
color: white;
/*-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #333;*/
top:300px;
left: 445px;
}

textfield
{
	width: 220px;
	height: 16px;
	padding-left: 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #666;
	color: #fff;
	background-image: url(../images/textfield-back.jpg);
	background-repeat: repeat-x;
	border: thin solid #666;
}LoginForm_verifyCode_em_

div#LoginForm_username_em_ ,#LoginForm_password_em_ ,LoginForm_verifyCode_em_, div.errorMessage{
	color:#570d01;
}

#LoginForm_username
{
	width: 180px;
}
#LoginForm_password
{
	width: 180px;
}
#LoginForm_verifyCode
{
	width: 180px;
}
#lang{
	height: 44px;
}
.style_bg{
	
	top:200px;
	left:0px;
}
.style_bg img{
	align:left;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}