body
{
	margin: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
}
#navwrapper{
	background-color: transparent;
	height: 100%;
	float: left;
}
#btnHide{
	margin-top: 30px;
	width: 13px;
	height: 70px;
	background-color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: url('../images/btnHide.jpg');
	/*
	background-image: -ms-linear-gradient(left, #30110f 0%, #c43f33 100%); IE10 
	background-image: -moz-linear-gradient(left, #30110f 0%, #c43f33 100%); Mozilla Firefox 
	background-image: -o-linear-gradient(left, #30110f 0%, #c43f33 100%); Opera 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #30110f), color-stop(1, #c43f33)); Webkit (Safari/Chrome 10) 
	background-image: -webkit-linear-gradient(left, #30110f 0%, #c43f33 100%); Webkit (Chrome 11+) 
	background-image: linear-gradient(to right, #30110f 0%, #c43f33 100%); Proposed W3C Markup 
	*/
	padding-right: 1px; 
	
}
#btnHide:hover, #btnShow:hover{
	cursor: hand; 
	cursor: pointer;
}
#btnShow{
	margin-top: 30px;
	width: 13px;
	height: 70px;
	background-color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: url('../images/btnShow.jpg');
	/*
	background-image: -ms-linear-gradient(left, #30110f 0%, #c43f33 100%); IE10 
	background-image: -moz-linear-gradient(left, #30110f 0%, #c43f33 100%); Mozilla Firefox 
	background-image: -o-linear-gradient(left, #30110f 0%, #c43f33 100%); Opera 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #30110f), color-stop(1, #c43f33)); Webkit (Safari/Chrome 10) 
	background-image: -webkit-linear-gradient(left, #30110f 0%, #c43f33 100%); Webkit (Chrome 11+) 
	background-image: linear-gradient(to right, #30110f 0%, #c43f33 100%); Proposed W3C Markup 
	*/
	padding-right: 1px; 
}
#btnShow img{
	margin-top: 27px;
}
#btnHide img{
	margin-top: 27px;
}
#container
{
	background-color: white;
    /*height:100%;
	width: 100%;*/
}

#header
{
/*	margin: 0;
	padding: 0;*/
/*	border-top: 3px solid #C9E0ED;
    background-color: #000;*/
    background-image:url('../images/gray.png');
    background-repeat:repeat-x;
    color: #FFFFFF;
    height: 83px;
    width:100%;
    letter-spacing: 0.5px;
    /*text-shadow: 0 1px 0 #333333;*/
   
}

#content 
{
    /*height:500px; */
    background-color: white;
	padding-top: 10px;
	padding-left: 3px;
	overflow:auto;
	/*float: right;*/
}

img{
	border:0px;
}

#footer
{
	
	text-align: center;
	font-size: 0.8em;
	clear: both;
/*	border-top: 1px solid #C9E0ED;*/
    background: none repeat scroll 0 0 #CCCCCC;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) inset;
    padding: 10px;   
    bottom: 0px;
        
}

#logo
{
        float:left;
        width: 100px;
        height:65px;
        background-color: transparent;
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 15px;
		
}
#banner{
	position:absolute;
	left: 215px;
}
#banner1{
	position:absolute;
	left: 220px;
}

#userporfiletop
{
    
    padding-top:28px;
    background-color: black;
    height:30px;

    /*width:90%;*/
	
	
    
}
/*#userprofiletop 
{
    
    height:10px;
    width:50%;
    background-color: red;
}*/
#nav
{
	padding-top: 5px;
	padding-right: 10px;
}

#userporfilebuttom 
{
	float:right;
    height:65px;
	width: 375px;
	padding-top: 5px;
	padding-left: 60px;
	background:url(../images/profile.bmp);
	background-repeat: no-repeat;
    text-align: left;
    color:white;
    text-decoration: none;
	display:inline-block;
	

}
#lang
{
	padding-top: 3px;
}
#userporfilebuttom label
{
	font-size: large;
}
#userporfilebuttom a
{
	color:black;
}
#userporfilebuttom a:hover
{
	color:white;
}

#userprofile a
{
    height:35px;
	width: 190px;
	padding-top: 10px;
	/*background:url(../images/buttback.png);*/
	background:url(../images/button1.png);
	background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
	display:inline-block;
	margin-left: 710px;
	color:#999999;
    font-size:14px;
}

#userprofile a:HOVER
{
    height:35px;
	width: 190px;
	padding-top: 10px;
	background:url(../images/button.png);
	background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
	display:inline-block;
	margin-left: 710px;
	color:white;
    font-size:16px;
}

#userprofile 
{
    height:15px;
	width: 136px;
	display:inline-block;
	margin-left: 300px;
	
    
}

#mainmenu
{
	/*	background:white url(bg.gif) repeat-x left top;
	background: -moz-linear-gradient(center top , #CC4E45 0%, #B52D20 8%, #7A211A 100%) repeat scroll 0 0 transparent;
	background:url(../images/menu-bar.png);
	background-repeat:repeat-x;*/
		

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #3D1512 0%, #BD3D31 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #3D1512 0%, #BD3D31 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #3D1512 0%, #BD3D31 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3D1512), color-stop(1, #BD3D31));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #3D1512 0%, #BD3D31 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #3D1512 0%, #BD3D31 100%);
	text-align: center;
	width: 100%;
	height: 10px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;

}

#mainmenu ul li
{
	display: inline;
	
}

#mainmenu ul li a
{
background: -moz-linear-gradient(center top , #BD5E54 0%, #90322A 60%) repeat scroll 0 0 transparent;
    border: 1px solid #5E1A14;
    border-radius: 4px 4px 4px 4px;
    color: #FFF;
    font-size: 75%;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    margin: 3px 2px;
    min-width: 60px;
    padding: 6px 8px;
    text-decoration: none;
    /*text-shadow: 0 1px 0 #222222;*/
    text-transform: uppercase;
    white-space: nowrap;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}

.navigationmenu
{
    background-color: #EDEDED;
    color:#FFF;
    float:left;
    width:185px;
    padding-left: 5px;
	padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	overflow-y:auto;
	overflow-x:auto;
	/*background-image:url('../images/blue.png');
    background-repeat:repeat;
    padding-bottom: 100px;
	height: 100%;*/
}

.bank-withdraw td{
	vertical-align: top;
}


div.moduleName
{
	height:20px;
	color:fbf6f6;
	padding-left:5px;
	padding-top:4px;
	text-align:left;
	background-color:#404040;
	border: 2px solid #f3f0f0;
    border-radius: 4px 4px 4px 4px;
}

div#navigationmenu ul, li
{
	list-style-type: none;
	
}
