@CHARSET "ISO-8859-1";
#agent_info{
	color:white!important;
}
#tblAgentSeniorMaster .agentsharingcommission{
	padding-left: 0px;
}
#tblAgentSeniorMaster{
	margin-left: 3px;
}
#tblAgentSeniorMaster th .agentsharingcommissionheader{
	background-color: #807D7D;
	color: white;
	margin: 0px;
}
#search_area{
	margin-left: 5px;
	margin-bottom: 10px;
	width: 400px;
	border: 1px solid #333333;
	font-size: 9pt;
	border-radius: 5px;
	padding-bottom: 5px;
}
#search_header{
	font-weight: bold;
	padding: 5px;
	background-color: #333333;
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
}
#search_body{
	margin-top: 10px;
}
#search_body table{
	padding: 5px;
}
#search_body table input{
	font-size: 9pt;
}
#search_body table tr td.left{
	padding-right: 20px;
	padding-bottom: 3px;
}
#search_body table tr td.right{
	padding-bottom: 3px;
}
#search_body select{
	width: 100px;
}
#txtAccountSearch{
	width: 170px;
}
#dvStatusPad{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
#dvStatus{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px;
	border: 1px solid brown;
	background-color: white;
	font-size: 9pt;
	text-align: left;
}
#dvStatus1{
	padding:25px;
    border:1px solid #000;
    margin:15px 0;
    background-color:#eee;
}

#dvDeposit{
	font-size: 9pt;
	text-align: left;
	background-image: url('../images/withdraw_background.png');
}

#tblDepositDiv{
	width: 100%;
	height: 100%;
}
#dvDeposit table td.Dheader{
	height: 27px;
}
#deposit_accnt_id{
	padding: 5px;
	/*background-color: #FFFACD;*/
}
#deposit_footer{
	width: 100%;
	height: 35px;
	background-color: transparent;
	text-align: center;
}
/*#btnConfirm{
	margin-top: 5px;
}*/
#Dheader1{
	float: left;
	padding: 5px;
}
#Dclose{
	float: right;
	padding-left: 3px;
	padding-right: 3px;
	background-color: red;
}
#txtAcountID{
	background-color: transparent;
	border: 0px;
	font-size: 9pt;
	font-weight: bold;
}
.txtInput{
	height: 15px;	
}
#errMessage{
	width: 100%;
	border: 0px;
	background-color: transparent;
	text-align: center;
	color: red;
}
#bankErrMessage{
	width: 100%;
	border: 0px;
	background-color: transparent;
	text-align: center;
	color: red;
	margin-top: 10px;
}
#runnerErrMessage{
	width: 100%;
	border: 0px;
	background-color: transparent;
	text-align: center;
	color: red;
	margin-top: 10px;
}
#dvDepositConfirm{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 510px;
	padding: 5px;
	border: 1px solid brown;
	background-color: white;
	font-size: 9pt;
	text-align: left;
}
#tblDepositConfirmDiv{
	width: 100%;
	height: 100%;
}
#deposit_confrm_header{
	height: 25px;
	width: 100%;
	background-color: #FFFACD;
}
#deposit_confrm_footer{
	height: 25px;
	width: 100%;
	background-color: transparent;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
#tblDepositConfirmBody {
	background-color: transparent;
	border-color: red;
}
#tblDepositConfirmBody .row{
	width: 100px;
	text-align: left;
	padding-right: 9px;
	font-size:8pt
}
#tblDepositConfirmBody .row1{
	text-align: left;
	padding-right: 10px;
	font-size:8pt
}
#tblDepositConfirmBody td{
	padding-bottom: 5px;
}
.depConfirmInput{
	height: 13px;
	border: 0px;
	background-color: transparent;
	font-size: 9pt;
}

#dvSetBunosConfirm{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 410px;
	padding: 5px;
	border: 1px solid brown;
	background-color: white;
	font-size: 9pt;
	text-align: left;

/*new 4/20/2012 */
#newBR{
	height: 16px;
}
#dvBank{
	position: absolute;
	width: 300px;
	left: 0px;
	top: 0px;
	padding: 5px;
	border: 1px solid brown;
	background-color: white;
	font-size: 9pt;
	text-align: left;
}
#dvRunner{
	position: absolute;
	width: 300px;
	left: 0px;
	top: 0px;
	padding: 5px;
	border: 1px solid brown;
	background-color: white;
	font-size: 9pt;
	text-align: left;
}
#dvBank table td.left{
	width: 140px;
	text-align: left;
	font-size: 9pt;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#dvDeposit table td.left{
	width: 140px;
	text-align: left;
	font-size: 9pt;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#dvDeposit table td.right{
	padding-top: 1px;
	width: 190px;
}
#btnSubmitBank{
	margin-top: 10px;
}
#btnSubmitRunner{
	margin-top: 10px;
}
.ui-jqgrid .ui-icon-plus{
	padding: 100px!important;
}
.ui-state-hover {background-color:#fffeb8!important;}

.BankLookupDialog{
	font-size: 8pt;
}

