body 
{
	margin: 0;
	padding: 0;
	background: #1d1d1d;
	font: normal 10pt Arial,Helvetica,sans-serif;
	font-size: 100%;
}

p	
{ 
	color: #ffff66; 
	margin-top: .5em;
	font-size: .75em;
	padding-left:15px;	
}

#navigation-block {
	position:relative;
	top:200px;
	left:200px;
}

#hide {
	position:absolute;
	top:30px;
	left:-190px;
}

ul#sliding-navigation
{
	list-style: none;
	font-size: .75em;
	margin: 10px 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h2,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: 175px;
	padding: 3px 3px;
	margin: 0;
	margin-bottom: 3px;
	font-size: 1.3em;
	font-weight: bold;
	/*text-shadow: 1px 0 black, 0 -1px black;*/
}

ul#sliding-navigation li.sliding-element h2
{
	color: white;
	font-weight: bold;
	font-size:9pt;
	height: 20px;
	width: 175px;
}

ul#sliding-navigation li.sliding-element a
{
	color: #242424;
	background-color: black;
	border: 0px solid #1a1a1a;
	text-decoration: none;
	font:9pt Arial;
	/*text-shadow: 1px 0 #a3a3a3, 0 -1px #a3a3a3;*/
}

ul#sliding-navigation li.sliding-element a:hover { color: white;background-color: #949494;}
#content{
	background-color: black;
}
.ui-state-hover {background-color:#fffeb8!important;}


.errorSummary p {
	color: #5A0000;
}

.errorText {
	color: #5A0000;
	font-size: 11px;
}