@CHARSET "ISO-8859-1";

#cu_header{
	width: 500px;
	font-size: 9pt;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
	border: 1px solid #7d7d7d;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #A8A8A8;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
} 
#cu_body{
	padding-left: 5px;
	border: 1px solid #7d7d7d;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	background-color: #e6e6e6;
}
#cu_table{
	font-size: 9pt;
}
#cu_table .left{
	width: 150px;
}
#cu_table .right{
	text-align: left;
}
#cu_table .txt{
	font-size: 9pt;
	width: 160px;
}
#cu_footer{
	border: 1px solid #7d7d7d;
	width: 505px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #A8A8A8;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#cu_footer #submit{
	font-size: 9pt;
	
}
.lblMessage{
	color: red;
	padding-left: 5px;
}
#cs_addcurrency{
	font-size: 9pt;
}
#cs_addcurrency table td{
	padding-bottom: 5px;
}
#cs_addcurrency table td.left{
	width: 130px;
}
#cs_footer{
	width: 100%;
	text-align: center;
}
#cs_errMessage{
	width: 100%;
	color: red;
	border: 0;
	background-color: transparent;
	text-align: center;
}
#cs_updatecurrency{
	font-size: 9pt;
}
#cs_updatecurrency table td{
	padding-bottom: 5px;
}
#cs_updatecurrency table td.left{
	width: 130px;
}
#csu_errMessage{
	width: 100%;
	color: red;
	border: 0;
	background-color: transparent;
	text-align: center;
}
#e_cs_errMessage{
	width: 100%;
	color: red;
	border: 0;
	background-color: transparent;
	text-align: center;
}

#cp_header{
	background-color:#333333;
	color: white;
	font-weight: bold;
	width: 342px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#body_wrapper{
	width: 340px;
	border: 1px solid #7d7d7d;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#body_wrapper table tr td.left{
	padding-right: 10px;
}
#body_wrapper table tr td.left, td.right{
	padding-bottom: 5px;
}
.txt{
	width: 150px;
}
.update-currency{
	color: red;
}
#setting_ico{
	width: 12px;
	padding-right: 3px;
}
.ui-state-hover {background-color:#fffeb8!important;}