@CHARSET "UTF-8";

#tableTotalPages
{
	border-collapse:collapse;
}
#tableTotalPages .tr,.th,.td
{
	border: 1px solid #B2B2B2;
}
#tableTotalPages .th
{
	color:white;
}

#tableTotalPages .tr
{
 	background-color:#808080;
 	height: 20px;
}
#tableTotalPages .header
{
	border: 1px solid #B2B2B2;
	background-color:#808080;
 	color:white;
 	height: 25px;
}
#tableTotalPages .td
{
 	background-color:white;
 	color: black;
}