@CHARSET "ISO-8859-1";
.ui-state-hover {background-color:#fffeb8!important;}
.ui-jqgrid-sortable { 
	height: 33px!important; 
	white-space: normal!important; 
	vertical-align: bottom;
}
body{
	font-size: 9pt;
}
#parameter_area{
	border: 1px solid #7d7d7d;
	width: 450px;
	border-radius: 5px;
	margin-bottom: 20px;
}
#parameter_area .header{
	background-color: #333333;
	font-weight: bold;
	color: white;
	padding-bottom: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 30px;
	padding-left: 5px !important;
    padding-top: 7px !important;
	
}
#parameter_area .body{
	padding-top: 10px;
}
#parameter_area .footer{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
table tr td.left{
	padding-left: 5px;
	padding-right: 25px;
}
table tr td.left, table tr td.right{
	padding-bottom: 3px;
}
.cmb{
	font-size: 9pt;
}
#qry_costavegas_result{
	margin-bottom: 5px;
	border-left: solid 5px #8fc221;
	padding-left: 5px;
}
#qry_costavegas_total{
	margin-bottom: 5px;
	border-left: solid 5px #8fc221;
	padding-left: 5px;
}
#qry_costavegas_result_details{
	border-left: solid 5px #8fc221;
	padding-left: 5px;
}
#qry_costavegas_betting_details{
	border-left: solid 5px #8fc221;
	padding-left: 5px;
}
#qry_costavegas_betting_details_summary_footer{
	border-left: solid 5px #8fc221;
	padding-left: 5px;
}
#betting_footer_header{
	color: black;
	font-weight: bold;
	margin-top: 5px;
	padding-top: 5px;
	width: 698px;
	height: 20px;
	border: 1px solid #a8a8a8;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-image: -ms-linear-gradient(top, #ededed 0%, #cccccc 100%);/* IE10 Consumer Preview */
	background-image: -moz-linear-gradient(top, #ededed 0%, #cccccc 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #ededed 0%, #cccccc 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #cccccc));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #ededed 0%, #cccccc 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(to bottom, #ededed 0%, #cccccc 100%);/* W3C Markup, IE10 Release Preview */ 
}
#lblCostaBettingSummaryPlayerID{
	margin-left: 5px;
	font-weight: bold;
	color: #a10e0e;
}
#betting_footer{
	width: 700px;
	color: black;
	border-right: 1px solid #a8a8a8;
	border-bottom: 2px solid #a8a8a8;
}
#betting_footer td{
	border-top: 1px solid #a8a8a8;
	border-left: 1px solid #a8a8a8;
}
#betting_footer .theader{
	font-weight: bold;
}
tr.jqfoot td { 
	background-color: #AD8533; 
	color: black;
	background-image: -ms-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8B8B8), color-stop(1, #919191));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Proposed W3C Markup */ 
}
tr.footrow-ltr td { 
	background-color: #AD8533; 
	color: black;
	background-image: -ms-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8B8B8), color-stop(1, #919191));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #B8B8B8 0%, #919191 100%);/* Proposed W3C Markup */ 
	}
#dtFrom, #dtTo, #txtAccountID{
	width: 100px;
}
.cell-wrapperleaf{
	text-decoration: none;
}
.cell-wrapperleaf:hover{
	cursor: mouse;
	cursor: pointer;
}

#dvSharingCommission{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px;
	border: 1px solid brown;
	font-size: 9pt;
	text-align: left;
	background-color: white;
}
#qry_htv999_result {
	margin-top: 5px;
	border-left: solid 5px #c23d1f;
	padding-left: 5px;
}
#qry_htv999_result_details{
	margin-top: 5px;
	border-left: solid 5px #c23d1f;
	padding-left: 5px;
}
#qry_htv999_betting_details{
	margin-top: 5px;
	border-left: solid 5px #c23d1f;
	padding-left: 5px;
}
#qry_htv999_total{
	margin-top: 30px;
	border-left: solid 5px #c23d1f;
	padding-left: 5px;
}
#qry_htv999_betting_details_summary_footer{
	border-left: solid 5px #c23d1f;
	padding-left: 5px;
}
#lblHTVBettingSummaryPlayerID{
	margin-left: 5px;
	font-weight: bold;
	color: #a10e0e;
}

#qry_savan_vegas_result{
	margin-top: 5px;
	border-left: solid 5px #6c3ca3;
	padding-left: 5px;
}
#qry_savan_vegas_result_details{
	margin-top: 5px;
	border-left: solid 5px #6c3ca3;
	padding-left: 5px;
}
#qry_savan_vegas_betting_details{
	margin-top: 5px;
	border-left: solid 5px #6c3ca3;
	padding-left: 5px;
}
#qry_savan_vegas_total{
	margin-top: 30px;
	border-left: solid 5px #6c3ca3;
	padding-left: 5px;
}
#qry_savan_vegas_betting_details_summary_footer{
	border-left: solid 5px #6c3ca3;
	padding-left: 5px;
}
#lblSAVANBettingSummaryPlayerID{
	margin-left: 5px;
	font-weight: bold;
	color: #a10e0e;
}

#lblAgentID, #lblDetailAgentID, #lblBettingDetailAgentID,#lblAgentID_htv, #lblDetailAgentID_htv, #lblBettingDetailAgentID_htv,#lblAgentID_savan, #lblDetailAgentID_savan, #lblBettingDetailAgentID_savan{
	color: #ab0e10;
}
#btnBack, #btnDetailBack{
	margin-left: 15px;
}
#vig_sharing input{
	display: none;
}
#txtVIGsharing1{
	width: 50px;
}
.savanwinlossarrow:hover, .savanresultarrow:hover, .htvwinlossarrow:hover{
	cursor: hand;
	cursor: pointer;
}
#dvWinLossResultDetails{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px;
	border: 1px solid #7d7d7d;
	font-size: 9pt;
	text-align: left;
	background-color: white;
	box-shadow: 3px 3px 3px #C2C2C2;
}
#dvWinLossResultCards{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 15px;
	border: 1px solid #7d7d7d;
	font-size: 9pt;
	text-align: left;
	background-color: #FFF;
	box-shadow: 3px 3px 3px #C2C2C2;
}
.c_winlossresultheader{
	font-size: 8pt;
	background-color: #7d7d7d;
	color: white;
	padding: 5px;
	text-align: left;
}
.c_bet_type{
	font-size: 8pt;
	padding: 5px;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.c_bet_amount{
	font-size: 8pt;
	padding: 5px;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.c_win_loss{
	font-size: 8pt;
	padding: 5px;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}