@CHARSET "ISO-8859-1";
/*inactive button*/
.gray {
	color: #black;
	border: solid 1px #656565;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#A8A8A8));
	background: -moz-linear-gradient(top,  #F0F0F0,  #A8A8A8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#A8A8A8');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	height: 28px;
}
.gray:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#A8A8A8), to(#A8A8A8));
	background: -moz-linear-gradient(top,  #A8A8A8,  #A8A8A8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A8A8', endColorstr='#A8A8A8');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.gray:active {
	color: #black;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#A8A8A8));
	background: -moz-linear-gradient(top,  #F0F0F0,  #A8A8A8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#A8A8A8');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/*active button*/
.black {
	color: white;
	border: solid 1px #656565;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#252423));
	background: -moz-linear-gradient(top,  #F0F0F0,  #252423);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#252423');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	height: 28px;
}
.black:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#252423), to(#252423));
	background: -moz-linear-gradient(top,  #252423,  #252423);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#252423', endColorstr='#252423');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.black:active {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#252423));
	background: -moz-linear-gradient(top,  #F0F0F0,  #252423);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#252423');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/*form header*/
#parameter_area{
	border: 1px solid #E1E1E1;
    border-radius: 0px;
    margin-bottom: 20px;
    position: relative;
}
#parameter_area .header{
	background-color: #333333;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    padding-top: 8px !important;
    width: 496px;
}
#parameter_area input{
	height: 40px;
    width: 155px;
    border-style: none;
    margin-bottom: 3px;
}
.ui-jqgrid-sortable { 
	height: 33px!important; 
	white-space: normal!important; 
	vertical-align: bottom;
}
/*instant pools*/
#instantPools_box{
	border: 1px solid #7d7d7d;
	width: 500px;
	/*border-radius: 5px;
	margin-bottom: 20px;*/
	position: relative;
}
#instantPools_box .title{
	background-color: #7d7d7d;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	width:495px;
	/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}

#instantPools_boxRL{
	border: 1px solid #7d7d7d;
	width: 580px;
	/*border-radius: 5px;
	margin-bottom: 20px;*/
	position: relative;
}
#instantPools_boxRL .title{
	background-color: #7d7d7d;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	width:575px;
	/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}


/*TABLE=============================================*/
.example-table {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 100%;

overflow: auto;
/*display: block;
margin-bottom: 25px;*/
border: 1px solid #333333;
width: 100%	;
border-collapse: separate;
border-spacing: 0px;
}
.example-table th {
background-color: #555555!important;
font-weight: normal;
color: white;
padding: 5px 30px;
text-align: center;
border: .1px solid #333333;	
}
.example-table td {
background-color: rgb(238, 238, 238);
padding: 5px 20px;
color: black;
font-size:12px;
border: 1px solid #333333;	
text-align: center;
}
.insideL{
font-weight: normal!important;
text-align:left!important;
padding:0px!important;
background: #EEEEEE!important;
border:1px solid #EEEEEE!important;
color:#00527A!important;
}
.insideR{
font-weight: normal!important;
text-align:right!important;
padding:0px!important;
background: #EEEEEE!important;
border:1px solid #EEEEEE!important;
}
.col1{
background-color: #FFF0F0!important;
}
.col2{
background-color: #DBE9F0!important;
}
.col3{
background-color: #E5F2E5!important;
}

