@CHARSET "UTF-8";
.instantPools {

	margin:0px;padding:0px;

	width:100%;

	/*border:1px solid #ccc9c9;*/

	

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

	 

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

	

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

	

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}.instantPools table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;

}.instantPools tr:last-child td:last-child {

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

}

.instantPools table tr:first-child td:first-child {

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}

.instantPools table tr:first-child td:last-child {

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

}.instantPools tr:last-child td:first-child{

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

}.instantPools tr:hover td{

	

}
.instantPools tr:nth-child(odd){ background-color:#cecece; }

.instantPools tr:nth-child(even)    { background-color:#ffffff; }
.instantPools td{

	vertical-align:middle;

	

	

	border:1px solid #333333;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:7px;

	font-size:11px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.instantPools tr:last-child td{

	border-width:0px 1px 0px 0px;

}.instantPools tr td:last-child{

	border-width:0px 0px 1px 0px;

}.instantPools tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.instantPools tr:first-child td{

		background:-o-linear-gradient(bottom, #969594 5%, #969594 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #969594), color-stop(1, #969594) );
	background:-moz-linear-gradient( center top, #969594 5%, #969594 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#969594", endColorstr="#969594");	background: -o-linear-gradient(top,#969594,969594);


	background-color:#969594;

	border:0px solid #333333;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:12px;

	font-family:Arial;

	font-weight:bold;

	color:#050505;

}

.instantPools tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #969594 5%, #969594 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #969594), color-stop(1, #969594) );
	background:-moz-linear-gradient( center top, #969594 5%, #969594 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#969594", endColorstr="#969594");	background: -o-linear-gradient(top,#969594,969594);


	background-color:#969594;

}

.instantPools tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.instantPools tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}
