@CHARSET "ISO-8859-1";
.ui-state-hover {background-color:#fffeb8!important;}
#body_wraper{
	font-size: 9pt;
}
#transaction_parameter_box{
	width: 400px;
	border: 1px solid #7d7d7d;
	border-radius: 5px;
}
#transaction_parameter_box .header{
	background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 7px !important;
    padding-left: 5px !important;
    padding-top: 8px !important;
}
#transaction_parameter_box .body{
	width: 495px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#transaction_parameter_box .body table td.left{
	padding-right: 20px;
	padding-bottom: 3px;
}
#transaction_parameter_box .body table td.right{
	padding-bottom: 3px;
}
.dtText{
	width: 100px;
}
#lblTextLeft{
	width: 200px;
}
#qry_result{
	margin-top: 20px;
}
#txtDate, #txtDDate{
	width: 280px;
	border: 0px;
	background-color: transparent;
}