@CHARSET "ISO-8859-1";

/*form header*/
#parameter_area{
	border: 1px solid #7d7d7d;
	width: 500px;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
}
#parameter_area .header{
	background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    height: 26px;
    padding-bottom: 3px;
    padding-left: 5px !important;
    padding-top: 5px !important;
    width: 495px;
}


 .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
   }