@CHARSET "ISO-8859-1";
#body_wrapper{
	font-size: 9pt;
}
#body_header{
	font-weight: bold;
	margin-bottom: 10px;
}
#qry_parameter{
	margin-bottom: 5px;	
}
.ui-state-hover {background-color:#fffeb8!important;}