@CHARSET "ISO-8859-1";
.ui-jqgrid-sortable { 
	height: 33px!important; 
	white-space: normal!important; 
	vertical-align: bottom;
}
#body_wrapper{
	width: 750px;
	margin-top: 10px;
	font-size: 9pt;
	border: 1px solid #7d7d7d!important;
	border-radius: 5px;
}
#title_header{
	background-color: #333333;
	font-size: 9pt;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	/*background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	/*background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	/*background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	/*background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	/*background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#tblAgentOverview td.left,td.right{
	padding: 5px;
}
.col3{
	border:1px solid #7d7d7d;
	background-color: white;
	padding: 5px;
}
.col4{
	border:1px solid #7d7d7d;
	background-color: white;
	padding: 5px;
}
#tblAgentOverview
{
border-collapse:collapse;
}
#tblAgentOverview, td.left,td.right, #tblAgentOverview th
{
border:1px solid #7d7d7d;
}
#tblAgentOverview tr td.left{
	background-color: #e6e6e6;
}
#tblAgentOverview tr td.right{
	background-color: white;
}
#btnDetails{
	font-size: 9pt;
	margin-left: 10px;
}
#btnReturn{
	font-size: 8pt;
}
#qry_result{
	margin-top: 20px;
}
#gbox_list1{
	border: 1px solid #7d7d7d!important;
}
#cmbCurrency{
	font-size: 9pt;
}
.td_header_right{
	color: white;
	font-weight: bold;
	padding: 3px;
	border:1px solid #7d7d7d;
	background-color: #858585;
}
.td_header_left{
	padding: 3px;
	background-color: #858585;
}
.ui-state-hover {background-color:#fffeb8!important;}
