@CHARSET "ISO-8859-1";
/*inactive button*/
.gray {
	color: #black;
	border: solid 1px #656565;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#A8A8A8));
	background: -moz-linear-gradient(top,  #F0F0F0,  #A8A8A8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#A8A8A8');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	height: 28px;
}
.gray:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#A8A8A8), to(#A8A8A8));
	background: -moz-linear-gradient(top,  #A8A8A8,  #A8A8A8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A8A8', endColorstr='#A8A8A8');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.gray:active {
	color: #black;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#A8A8A8));
	background: -moz-linear-gradient(top,  #F0F0F0,  #A8A8A8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#A8A8A8');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/*active button*/
.black {
	color: white;
	border: solid 1px #656565;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#252423));
	background: -moz-linear-gradient(top,  #F0F0F0,  #252423);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#252423');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	height: 28px;
}
.black:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#252423), to(#252423));
	background: -moz-linear-gradient(top,  #252423,  #252423);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#252423', endColorstr='#252423');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.black:active {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#252423));
	background: -moz-linear-gradient(top,  #F0F0F0,  #252423);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#252423');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/*form header*/
#parameter_area{
	border: 1px solid #7d7d7d;
	width: 500px;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
}
#parameter_area .header{
	background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 8px !important;
    padding-left: 5px !important;
    padding-top: 8px !important;
    width: 495px;
}