@CHARSET "ISO-8859-1";
.ui-state-hover {background-color:#fffeb8!important;}
#body_wrapper{
	padding-top: 10px;
	width: 550px;
	
}
#title_header1{
	/*background-color: #7d7d7d;*/
	font-size: 9pt;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #333333;

}
#title_header2{
	/*background-color: #7d7d7d;*/
	font-size: 9pt;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #A8A8A8;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#table_body{
	font-size: 9pt;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #A8A8A8;
}
#max_sharing_commission td.left{
	width: 200px;
}
#max_win_multiple td.left{
	width: 200px;
}
#title_footer{
	/*background-color: #7d7d7d;*/
	font-size: 9pt;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #A8A8A8;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#txtErrMsg{
	width: 100%;
	color: red;
	text-align: center;
	border: 0px;
	background-color: transparent;
}