@CHARSET "UTF-8";
a.editlink{
	color: blue;
}

/* update form */
#update_header, #create_header{
	background-color: #5E5E5E;
    border: 0 solid #C7C7C7;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-top: 10px;
}
#update_body, #create_body{
	background-color: #5E5E5E;
    border: 0 solid #C7C7C7;
    margin-right: 0;
    padding: 0;
}
fieldset{
	border: solid 1px #c7c7c7;
	background-color: #5E5E5E;
	color:#FFFFFF;
}
.role_list_horizontal{
	margin-left: 10px;	
	margin-top: -15px;
}
.role_list_horizontal li{
    display:block;
	float:left;
	width: 300px;
}
.link{
	text-decoration: underline;
	color: blue;
	cursor: hand;
	cursor: pointer;
}
#btnSave{
	margin-top: 10px;
	margin-right: 5px;
	width: 60px;
}
#btnReset{
	margin-top: 10px;
	width: 60px;
}
table tr td.left{
	padding-right: 10px;
	padding-bottom: 5px;
}
table tr td.right{
	padding-bottom: 5px;
}
legend{
	background-color: #333333!important;
	color: #FFFFFF!important;
	padding-left: 5px;
	font-size: 16px!important;
}