@CHARSET "ISO-8859-1";
#search_cont table td.left{
	padding-right: 30px;
	padding-bottom: 5px;
}
#search_cont table td.right{
	padding-right: 10px;
	padding-bottom: 5px;
}
#search_cont{
	border: 1px solid #7d7d7d!important;
	width: 550px;
	margin-bottom: 20px;
	border-radius: 5px;
}
#search_cont .title{
	background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    height: 20px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 8px;
}
#search_cont .body{
	padding-left: 5px;
	margin-top: 5px;
}
#dtFrom, #dtTo,#txtAccountID,#txtEmail{
	width: 120px;
}
.ui-state-hover {background-color:#fffeb8!important;}

#withdrawal{
	text-decoration: underline;
	cursor:pointer;
	cursor:hand;	
}
#tblDepositConfirmBody {
	background-color: transparent;
	border-color: red;
}
#tblDepositConfirmBody .row{
	width: 100px;
	text-align: left;
	padding-right: 9px;
	font-size:8pt
}
#tblDepositConfirmBody .row1{
	text-align: left;
	padding-right: 10px;
	font-size:8pt
}
#tblDepositConfirmBody td{
	padding-bottom: 5px;
}
.depConfirmInput{
	height: 13px;
	border: 0px;
	background-color: transparent;
	font-size: 9pt;
}
#dtProcessDate{
	width: 200px;
}
#ui-datepicker-div{
	font-size: 9pt;
}