@CHARSET "UTF-8";
#param_box{
	width: 350px;
	border: 1px solid #7d7d7d;
	border-radius: 5px;
}
#param_box_header{
	font-weight: bold;
	background-color: #7d7d7d;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-bottom: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#param_box_body{
	padding: 5px;
}
#qry_result{
	margin-top: 20px;
}
#qry_result_details{
	margin-top: 20px;
}
#lblFrom, #lblTo, #lblDFrom, #lblDTo{
	font-weight: normal;
}
.right{
	padding-left: 20px;
	padding-bottom: 3px;
}
.left{
	padding-bottom: 3px;
}
.txt{
	width: 150px;
}
.ui-state-hover {background-color:#fffeb8!important;}