@CHARSET "UTF-8";

#tableTotalPages
{
	border-collapse:collapse;
}
#tableTotalPages .tr,.th,.td
{
	border: 1px solid #5E5E5E;
}
#tableTotalPages .th
{
	color:white;
}

#tableTotalPages .tr
{
 	background-color:#808080;
 	height: 20px;
}
#tableTotalPages .header
{
	border: 1px solid #333333;
	background-color:#333333;
 	color:white;
 	height: 25px;
 	padding-left: 5px!important;
}
#tableTotalPages .td
{
 	background-color:white;
 	color: black;
}