@CHARSET "ISO-8859-1";
.ui-state-hover {background-color:#fffeb8!important;}
#new_sub_comp_body{
	width: 1100px;
	margin-left: 5px;
	margin-top: 5px;
}
#comp_header{
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
}
#comp_body{
	width: 100%;
}
#table_header{
	background-color: #333333;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	margin-bottom: 5px;
	font-size: 9pt;
	border-radius: 5px;
	/*background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	/*background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	/*background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	/*background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	/*background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#table_header input, #tblBasicInformation input{
	font-size: 9pt;
}

#tblBasicInformation td.left{
	width: 180px;
	font-size: 9pt;
	padding-bottom: 3px;
	padding-left: 5px;
}
#tblBasicInformation td.right{
	font-size: 9pt;
	padding-bottom: 3px;
	padding-right: 50px;
}
#table_header1{
	background-color: #333333;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	font-size: 9pt;
	margin-top: 5px;
	border-radius: 5px;
	/*background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	/*background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	/*background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	/*background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	/*background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#tblBettingInformation{
	font-size: 9pt;
	margin-top: 5px;
	
}
#tblBettingInformation11{
	font-size: 9pt;
	margin-top: 5px;
	margin-bottom: 10px;
}
#tblBettingInformation11 td.left{
	width: 180px;
	padding-bottom: 3px;
	font-size: 9pt;
	padding-left: 5px;
}
#tblBettingInformation11 td.right{
	padding-bottom: 3px;
	font-size: 9pt;
}
#tblBettingInformation11 td input{
	font-size: 9pt!important;
	margin-bottom: 5px;
}
#tblBettingInformation td.label{
	font-size: 9pt;
	padding-bottom: 3px;
	padding-left: 5px;
	width: 180px;
}
#tblBettingInformation td.left{
	padding-bottom: 3px;
	font-size: 9pt;
}
#tblBettingInformation td.right{
	padding-bottom: 3px;
	font-size: 9pt;
	padding-right: 35px;
}
#tblBettingInformation td input{
	font-size: 9pt;
	margin-left: 5px;
	margin-bottom:5px;
}
#tblfooter{
	background-color: #333333;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	font-size: 9pt;
	margin-top: 5px;
	text-align: center;
	border-radius: 5px;
	/*background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	/*background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	/*background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	/*background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	/*background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
#tblfooter input{
	font-size: 9pt;
}
#txtMessage{
	border: 0px;
	background-color: transparent;
	float: right;
	color: red;
	width: 200px;
	text-align: right;
}
#txtErrMessage{
	width: 950px;
	background-color: transparent;
	border: 0px;
	color: red;
	text-align: center;
}
#txtPreAccountID{
	background-color: transparent;
	border: 0px;
	font-weight: bold;
}
#dialogNewSubCompany{
	font-size: 9pt;
}
#dialogNewSubCompany input{
	font-size: 9pt;
}
#tblNewSubCompany{
	margin-top: 10px;
	margin-bottom: 10px;
}
#tblNewSubCompany td.left{
	padding-right: 60px;
}
.txtbox{
	width: 120px;
}
#txtCreditPercent{
	width: 120px;
}
#txtCreditPercentValue{
	width: 100px;
}
#txtAssignedCredit{
	width: 100px;
}
#lblAssignedCredit{
	margin-left: 10px;
}
.ui-state-hover {background-color:#fffeb8!important;}
.txt_sharing_commission{
	width: 121px;
	background-color: #faebeb;
	border: 1px #b5b5b5 solid;
	border-radius: 3px;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 2px;
	font-weight: bold;
}
.btn_sharing_commission{
	width: 70px;
}
.casinolabel{
	color: #851010;
	font-weight: bold;
	width: 180px;
	padding-right: 5px;
}
#dv_limits_msg{
	color: #961111;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
}