@CHARSET "ISO-8859-1";
.chklist{
	padding-left: 0px;
	margin-top: 0px;
	padding-bottom: 12px;
}
.chklist li{
	display: block;
	float: left;
	padding-right: 10px;
}
#setting_header{
background-color: #333333;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bold;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 8px;
    width: 950px;
}
#setting_header1{
	background-color: #333333;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bold;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 8px;
    width: 950px;
}
#setting_header input{
	font-size: 9pt;
	
}
#setting_table{
	margin-left: 5px;
	padding-left: 5px;
}
#setting_table tr td{
	font-size: 9pt;
}
#setting_table tr td.left, td.right{
	padding-right: 15px;
	padding-bottom:3px;
}
#setting_table tr td.left{
	width: 180px;
}
#setting_table1{
	margin-left: 5px;
	padding-left: 5px;
}
#setting_table1 tr td{
	font-size: 9pt;
}
#setting_table1 tr td.left, td.right{
	padding-right: 15px;
}
#setting_table1 tr td.left{
	width: 180px;
}
#txtAccountID{
	background-color: transparent;
	border: 0px;
	font-weight: bold;
}
#setting_table1{
	margin-bottom: 10px;
}
#txtCurrencyId{
	display: none;
}
#qry_baccarat, #qry_roullete, #qry_dragon_tiger, #qry_blackjack, #qry_american_roulette{
	margin-left: 5px;
}
#cash_player_game_table_limit_grid_caption{
	font-weight: normal!important;
}
#cash_player_game_table_limit_footer{
	background-color: #333333;
    border-radius: 5px;
    color: #FFFFFF;
    text-align:center;
    font-size: 9pt;
    font-weight: bold;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 8px;
    width: 950px;
}
#txtSettingMessage{
	background-color: transparent;
	width: 770px;
	border: 0px;
	text-align: center;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}
.txt{
	width: 140px;
}
.ui-state-hover {background-color:#fffeb8!important;}
