@CHARSET "UTF-8";

#search_cont table td.left{
	padding-right: 30px;
	padding-bottom: 5px;
}
#search_cont table td.right{
	padding-right: 10px;
	padding-bottom: 5px;
}
#search_cont{
	border: 1px solid #7d7d7d!important;
	width: 350px;
	margin-bottom: 20px;
	border-radius: 5px;
	margin-top: 10px;
}
#search_cont .title{
	background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 8px;
}
#search_cont .body{
	padding-left: 5px;
	margin-top: 5px;
}
#qry_sc_result{
	margin-top: 20px;
}
#qry_cp_result{
	margin-top: 20px;
}

#txtSearch{
	width: 115px;
}