@CHARSET "UTF-8";
#crheader{
	height: 380px;
}
#crfilter, #crgridcolumns{
	width: 400px;
	float: left;
	margin-right: 10px;
}

#crfilter .title, #crgridcolumns .title{
	background-color: #333333;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
}
#crfilter .body,#crgridcolumns .body{
	padding: 10px;
	height: 340px;
	border: 1px solid #A8A8A8;
}

#crsavedfilters{
	width: 255px;
	float: left;
	margin-right: 10px;
}

#crsavedfilters .title{
	background-color: #333333;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
}
#crsavedfilters .body{
	padding-top: 20px;
	padding-left:0px;
	height: 295px;
	border: 1px solid #A8A8A8;
}
#crsavedfilters .subtitle{

	padding-left:20px;
	font-size: 14px;
	font-weight: bold;
}


#crfilter .body .grid_params{

}
#gridFooter{
	width: 1225px;
	background-color: #333333;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	
}

table tr td.left{
	width: 130px;
	padding-right: 20px;
}

input.txt{
	width: 150px;
}
#sortable1{
	border: 1px solid #e0dfde;
}
#sortable2{
	border: 1px solid #e0dfde;
}
#sortable3{
	border: 1px solid #e0dfde;
}
#sortable1, #sortable2{ 
	list-style-type: none; 
	margin: 0; 
	padding: 10px; 
	float: left; 
	height: 270px;
	width: 150px;
}
#sortable1 li, #sortable2 li{ 
	margin: 0 0px 3px 5px; 
	padding: 4px; 
	font-size: 9pt; 
	width: 130px; 
	cursor:pointer;
	cursor:hand;
}
#ui-datepicker-div{
	font-size: 8pt;
}


#grid_report_wrapper{
	width: 1230px;
}
#yw0_c0,#yw0_c1,#yw0_c2,#yw0_c3,#yw0_c4,#yw0_c5,#yw0_c6,#yw0_c7,#yw0_c8,#yw0_c9,#yw0_c10{
	padding: 5px;
	background-image:#333333!important;
}
.grid-view table.items th{

	background:#333333!important;
}
tr.odd{
	background-color: #e8e8e8!important;
}
tr.even{
	background-color: #ffffff!important;
}

#sortable-delete {
padding-top:5px;
height: 20px;
overflow: hidden;
border-bottom: thin;
border-bottom: 1px;
}
#sortable-delete li {
height: 0;
width: 0;
overflow: hidden;
padding:0px;
margin:0px;
}
ul.sortable {
padding-bottom: 5px;
}
ul.sortable li {
	margin: 0 0px 3px 5px; 
	padding: 4px; 
	font-size: 9pt; 
	width: 155px; 
cursor: pointer;
cursor:hand;
text-decoration: none;
}
ul.sortable li:hover {
cursor: pointer;
cursor:hand;
text-decoration: underline;
}