@CHARSET "ISO-8859-1";
.advisory-container {
	width: 750px;
}

/*
.advisory-header1 {
	font-size: 9pt;
	border:1px solid #7d7d7d;
	padding-left: 5px;
	padding-top: 20px;
	width: 750px;
}
*/

fieldset legend {
	font-weight: bold;
}

.advisory-box {
    border-left: 1px solid #7D7D7D;
    border-right: 1px solid #7D7D7D;
    border-bottom: 1px solid #7D7D7D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    font-size: 9pt;
    margin: 0 0 20px 0;
    padding: 5px;
    width: 1258px;
}

.advisory-box .advisory-header {
 background-color: #333333;
    border: 0 solid #7D7D7D;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 31px;
    margin: -6px 0 0 -6px;
    padding: 9px 0 3px 6px;
    width: 1264px;
}

.advisory-box .advisory-header .add-button {
	
}

.advisory-box .ui-jqgrid {
	margin: 45px 0 0 0;
}

.advisory-box .advisory-tab-container {
    float: left;
    margin: 5px 0 0 0;
    width: 1135px;
    border: 1px solid #DADADA!important;
}

.advisory-box .advisory-tab-container .bottom {
	float: right;
	margin: 0 23px 10px 0;
}

.advisory-box ul {
	margin: 0;
	padding: 0;
}

.advisory-box ul li input,
.advisory-box ul li label,
.advisory-box ul li select {
	float: left;
	text-transform: capitalize;
}

.advisory-box ul li .main-label {
	float: left;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.advisory-box ul li input {
	margin: 0 5px 0 0;
}

.advisory-box ul li label {
	margin: 0 5px 0 0;	
}

.advisory-tab-lang {
	margin: 0;
	padding: 0 10px 0 0;	
}

.advisory-tab-lang ul {
	margin: 0;
	padding: 0;
}

.advisory-tab-lang ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1103px;
}

.advisory-tab-lang fieldset {
    float: left;
    margin: 0 0 10px;
    text-align: left;
    width: 1080px;
}

.list-schedule {
	float: left;
	margin: 5px 0 5px 0;
	width: 1000px;
}

.darkRedText {
	color: #D84A38;
}

.advisory-detail-box {
	
}

.advisory-detail-box-top {
	float: left;
	margin: 10px 0 0 0;
}

.advisory-detail-box-top li {
	float: left;
    list-style: none;
	margin: 10px 0;
	padding: 0;
	width: 1142px;
}

.advisory-detail-box-top li fieldset {
	margin: 0;
}

.service-affected {
	width: 1075px;
}

.advisory-box .bottom {
	float: right;
	margin: 10px 0;
}

.disable-color {
	background-color: #ccc;	
}

/********* jqgrid ************/
.ui-jqgrid-btable tr td p {
    color: #222;
    font-size: 11px;
}

