@CHARSET "ISO-8859-1";
#body_wrapper{
	font-size: 9pt;
	border:1px solid #7d7d7d;
	padding-left: 5px;
	padding-top: 20px;
	width: 750px;
}
#body_header{
	width: 750px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	color: white;
	border:1px solid #7d7d7d;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #A8A8A8;
	background-image: -ms-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* IE10 */
	background-image: -moz-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A8A8), color-stop(1, #7A7A7A));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(top, #A8A8A8 0%, #7A7A7A 100%);/* Proposed W3C Markup */ 
}
input,select,textarea {
	font-size: 9pt;
}
table td.left{
	width: 130px;
}
#txtContent1{
	width: 200px;
}
#txtErrMessage{
	width: 95%;
	border: 0px;
	background-color: transparent;
	color: red;
}
.ui-state-hover {background-color:#fffeb8!important;}