@CHARSET "UTF-8";
body{
	font-size: 9pt;
}
#adjustment_header{
	background-color: #333333;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    height: 15px;
    padding: 6px;
    width: 700px; 
}
#adjustment_content{
	width: 675px;
	padding: 10px 5px 15px 30px;
	border: 1px solid #c7c7c7;
}

#adjustment_content fieldset{
	border: 1px solid #c7c7c7;	
}

#adjustment_content table tr td.left{
	width: 150px;
}

#adjustment_content table tr td.middle{
	width: 400px;
}

#adjustment_content input.text{
	font-size: 9pt;
	width: 130px;
}

#adjustment_content input.apply_all{
	font-size: 9pt;
	font-weight: bold;
	width: 140px;
	background-color: #faebeb;
	padding: 2px 1px 2px 1px;
	border: 1px solid #ada9a5;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#adjustment_content input.button{
	font-size: 9pt;
	width: 70px;
}

