@CHARSET "UTF-8";
.settlement-top-container {
	/*float: left;
	width: 100%;*/
	height: 100px;
	width: 875px;
}

.settlement-top-container .settlement-top-title {
	float: left;
}

.settlement-top-container .settlement-top-title article {
	float: left;
}

.settlement-top-container .settlement-top-title-label {
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 700px;
}

.settlement-top-container .settlement-top-title-button {
	float: left;
	height: 45px;
	width: 175px;
}

.settlement-top-container .settlement-top-title-button img {
	float: right;
	height: 45px;
	width: 45px;
}

.settlement-top-container .settlement-top-list {
	float: left;	
}

.settlement-top-container .settlement-top-list ul {
	margin: 0;
	padding: 0;
}

.settlement-top-container .settlement-top-button ul {
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 100px;
}

.settlement-top-container .settlement-top-button ul li {
	list-style: none;
	float: left;
}

.settlement-top-container .settlement-top-button ul li label {
	
}

.settlement-middle-container {
	/*float: left;
	width: 100%;*/
}


sudo apt-get install postgresql-client