.left_part{
 width:250px;
 padding-bottom:15px;
}
.right_part{
width:250px;
padding-bottom:15px;
}
.hr{
border-bottom:1px dashed #333;
margin-bottom:25px;
margin-top:25px;
width: 500px;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #8C0707;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border-style:none;
}

.btn:hover {
  background: #cc1e1e;
  text-decoration: none;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #333;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #333;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #333 5%, #333 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333), color-stop(1, #333) );
	background:-moz-linear-gradient( center top, #333 5%, #333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333", endColorstr="#333");	background: -o-linear-gradient(top,#333,8c0707);

	background-color:#333;
	border:0px solid #333;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#fcfcfc;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #333 5%, #333 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333), color-stop(1, #333) );
	background:-moz-linear-gradient( center top, #333 5%, #333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333", endColorstr="#333");	background: -o-linear-gradient(top,#333,8c0707);

	background-color:#333;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.link{
	text-decoration:none;
	color:#8C0707;
}
